*{
    padding:0;
    margin:0;
}
body
{
    background-color:darkgrey;
}
a
{
    text-decoration: none;
    color:black;
    padding:60px;
    font-size:25px;
    font-family:Gill Sans MT;
}
div p
{
    text-align: center;
    color:aliceblue;
    font-family:Gautami;
    font-size: 40px;
}
div
{
    border-radius:10px;
    border: 2px solid aliceblue;
}
div
{
    width:300px;
	padding:40px;
	position:absolute;
    top:25%;
    left:35%;
    background-color:black;
}
div input[type="text"],div input[type="password"]
{
    background:none;
	display:block;
	margin:20px auto;
    border:2px solid aliceblue;
    padding:14px 40px;
    text-align: center;
    background-color: ;
    border-radius: 15px;
    outline:none;
    background-color: aliceblue;
}
div input[type="submit"]
{
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:4px solid orange;
	padding:14px 40px;
    text-align: center;
    outline:none;
    border-radius: 25px;
    color:black;
    background-color: orange;
}
div input[type="submit"]:hover
{
	background:darkorange;
    box-shadow: 1px 1px 20px whitesmoke;
}

